// Fonts

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('/assets/fonts/Montserrat/Montserrat-Bold.ttf');
	src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf');
};


@font-face {
	font-family: 'Raleway', sans-serif;
	src: url('/assets/fonts/Raleway/Raleway-Bold.ttf');
	src: url('/assets/fonts/Raleway/Raleway-Regular.ttf');
};